{% include 'base.html' %}

{% block main %}

<div class="panel panel-default hidden-xs">
  <div class="panel-body" style="padding-top:5px;padding-bottom:5px;">
      <div>
          开心一笑
        <div style="float:right;float:top">
          <a href=""><span class="glyphicon glyphicon-refresh" style="color:#8e8e8e;"></span></a>
        </div>
        <hr style="margin-top:0px;margin-bottom:0px;">
      </div>
  </div>

  <div class="panel-body" style="padding-top:8px;padding-bottom:8px;">
      <div style="padding-left:30px;padding-right:30px;font-size:13px">
      美女闺蜜刚刚给我打了电话，老公问我聊啥，聊的那么嗨。老公：哎，长的漂亮就是烦恼多，哪像你，就不会有这么多烦恼。。。。
      </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-9">
    {% include '__post.html' %}
  </div>
  {% include 'side_panel.html' %}
</div>

{% include 'page_footer.html' %}

{% endblock %}

