
<div class="footer col-md-12" style="border-top:1px solid #e0e0e0; ">
    <div class="pull-right" style="margin-right:30px;margin-top:10px;">
        <p class="heading text-right">
            <a href="#">帮助</a>
            <span class="pipe"> | </span>
            <a href="#">关于</a>
            <span class="pipe"> | </span>
            <a href="#">联系我</a>
            <span class="pipe"> | </span>
            <a href="https://github.com/gitsxy" target="_blank">GitHub</a>
        </p>
        
    </div>
    <div style="font-size:13px;margin-top:10px;">
        <blockquote>
            <p style="font-size:14px;color:#6c6c6c">世界上没有什么事儿是一顿烧烤不能解决的。如果有,那就两顿。——亚洲气质舞王尼古拉斯 赵四</p>
            <footer style="text-align:right">
                <span> Copyright © 2016-2020 gitsxy.</span>
            </footer>
        </blockquote>

    </div>
</div>
